ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#draw-area {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  z-index: 0;
}

div[id^='box'] {
  position: absolute;
  text-align: center;
  width: 100px;
  border: 1px dotted gray;
  z-index: 1;
}

/* context menu */
#context-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  background-color: gainsboro;
  border: 1px solid grey;
  margin: 0;
  padding: 0;
  z-index: 2;
}

#context-menu > ul {
  padding: 10px;
}

#context-menu > li {
  cursor: pointer;
}

#delete {
  border: none;
}